@font-face {
    font-family: "osgood";
    src: url("./fonts/osgood.eot");
    src: url("./fonts/osgood.eot#amoosgood") format("embedded-opentype"),
         url("./fonts/osgood.woff") format("woff"),
         url("./fonts/osgood.ttf") format("truetype");
 }

.section1 {
	background-image: url(./imagenes/banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 img {
	width: 90px;
	padding-left: 20px;
	padding-top: 20px;
}

.imagen img {
	width: 350px;
	padding-bottom: 150px;
	padding-right: 98px;
}

body {
	top: 0;
}

.header {
	display: flex;
	padding-top: 150px;
	padding-left: 175px;
	padding-right: 200px;
}

p {
	padding-right: 480px;
	color: white;
	font-size: 22px;
	font-family: "osgood";
}

h3 {
	color: white;
	font-size: 32px;
	font-family: "osgood";
}

.texto {
	padding-bottom: 900px;
}